<div class="rid-page">
    <div class="page-block">
        <h2>{{ page.title }}</h2>
        <hr>
        <div class="page-body">
            {{ page.body|format_text(page.bodyFormatter)|raw }}
        </div>
    </div>
</div>