{% extends base_template %}

{% block content %}
    <div class="rid-page page show">
        {% if page.title is not null or page.title != '' %}
            <h2>{{ page.title }}</h2>
        {% endif %}
        {{ page.body|format_text(page.bodyFormatter)|raw }}
    </div>
{% endblock %}